/Semantic-20250316T143406Z-002.zip
/data
/fine_tuned_similarity_model_ver2.0
/legal_abs_model
/legal_abs_model-20250323T064233Z-001
/model-best-3
/__pycache__/
/saved_model
/saved_tokenizer
*.pyc
/legal_documents
/model-best-3-20250323T064225Z-001.zip
/fine_tuned_similarity_model_ver2.0-20250323T075308Z-001.zip
/drive-download-20250316T144845Z-001.zip
/case-sage
/legal_abs_model-20250323T064233Z-001.zip
/OllamaSetup.exe
/Semantic
